@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin:0;
    padding:0;
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image:radial-gradient(farthest-corner at 0px 0px,#0B135D 0%,#040720 30%);
}

.wrapper, .login-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:1080px;
}
.wrapper {
    width:100vw;
    height:100vh;
}